.all-movies {
    text-align: center;
    color: #e5e5e5;
    box-shadow: 0px 0px 15px #e50914;
    padding: 20px;
}


.all-movies button {
    background-color: transparent;
    border: none;
    font-size: 35px;
    color: #e50914;
    cursor: pointer;
}

.all-movies-content {
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    width: 500px;
    overflow: hidden;
    height: 400px;
    text-align: center;
    position: relative;
}


.all-movies-content article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.2s linear;
}
.all-movies-content img {
    width: 80%;
    height: 225px;
}


article.active-slide {
    opacity: 1;
    transform: translateX(0);
}


article.last-slide {
    transform: translateX(-100%);
}


article.next-slide {
    transform: translateX(100%)
}
